@charset="utf-8";
body{
	background-color:black;
	margin:0 0 0 0;
	font-family:Microsoft Yahei;
}
#firtp{
	position:absolute;
	font-weight:bold;
	margin:8% 3% 0 48%;
	color:white;
}
#firphoto{
	position:absolute;
	margin-top:5%;
	margin-left:3%;
	width:40%;
}
#firphoto img{
	width:100%;
}
#secphoto{
	position:absolute;
	margin:34% 0 0 48%;
	width:46.7%;
}
#secphoto img{
	width:100%;
}
video{
	position:absolute;
	margin:75% 0 0 3%;
	width:60%
}
h3{
	position:absolute;
	margin:73% 0 0 3%;
	color:white;
}
#back{
	position:absolute;
	width:20%;
	margin:97% 0 0 77%;
}
#back img{
	width:100%;
}