@charset="utf-8";
@media only screen and (min-width:1024px)
{
body{font-family:arial bold;
	font-size:150%;
	margin:0 0 0 0;
	}
#store{
	position:absolute;
	z-index:10;
	margin:-1% 0 0 3%;
	display:block;
	
}
audio{
	margin-left:87%;
	margin-top:3%;
	width:12%;
}
#storetxt{
	display:none;
}
#collection{
	position:absolute;
	z-index:9;
	margin-left:0 ;
	margin:43% 0 0 73% ;
}
#story{
	position:absolute;
	z-index:8;
	margin-right:0 ;
	margin:43% 0 0 87% ;
}
#collection .a{
	margin-left:30px;
}
a{
	color:black;
	text-decoration:none;
}
}

@media only screen and (max-width:1023px)
{
	body{font-family:arial bold;
	font-size:230%;
	margin:0 0 0 0;
	}
#store{
	display:none;
	position:absolute;
	z-index:10;
	margin:-1% 0 0 3%
	
}
audio{
	margin-left:87%;
	margin-top:3%;
	width:12%;
}
#collection{
	position:absolute;
	z-index:9;
	margin-left:0 ;
	margin:44% 0 0 3% ;
	min-width:300px ;
}
#story{
	position:absolute;
	z-index:8;
	margin-right:0 ;
	margin:52% 0 0 3% ;
}
/* #linkdiv{
	margin:50% 0 0 73% ;
	min-width:300px ;
} */
#collection .a{
	margin-left:30px;
}
a{
	color:black;
}
}
#storetxt{
	
	position:absolute;
	z-index:8;
	margin-right:0 ;
	margin:60% 0 0 3% ;
}
}